<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd">

    
   <bean id="siteManager" class="org.opencr.projet.monprojet.business.impl.manager.SiteManagerImpl"/>
    <bean id="secteurManager" class="org.opencr.projet.monprojet.business.impl.manager.SecteurManagerImpl"/>
    <bean id="voieManager" class="org.opencr.projet.monprojet.business.impl.manager.VoieManagerImpl"/>
    <bean id="longueurManager" class="org.opencr.projet.monprojet.business.impl.manager.LongueurManagerImpl"/>
    <bean id="topoManager" class="org.opencr.projet.monprojet.business.impl.manager.TopoManagerImpl"/>
    <bean id="pretManager" class="org.opencr.projet.monprojet.business.impl.manager.PretManagerImpl"/>
    <bean id="commentaireManager" class="org.opencr.projet.monprojet.business.impl.manager.CommentaireManagerImpl"/>

   
    <bean id="managerFactory" class="org.opencr.projet.monprojet.business.ManagerFactory">
        <property name="siteManager" ref="siteManager"/>
        <property name="secteurManager" ref="secteurManager"/>
        <property name="voieManager" ref="voieManager"/>
        <property name="longueurManager" ref="longueurManager"/>
        <property name="topoManager" ref="topoManager"/>
        <property name="pretManager" ref="pretManager"/>
        <property name="commentaireManager" ref="commentaireManager"/>
    </bean>

   
</beans>